// color.scss

// Neutral colors
$off-white: #FAF8F5;
$misty-gray: #E0E0E0;
$charcoal-black: #1C1C1E;
$ivory-gray: #ccc;
$medium-gray: #cfcccc;
$light-gray: #ebebeb;
$background-gray: #f9f9f9;
$shadow-gray: rgba(0,0,0,0.1);
$subtle-gray: #F1EDFA;

// Accent colors
$electric-blue: #3A86FF;
$hover-white: #ffffff;
$auth-blue: #3c80f6;
$highlight-purple: #917da8;

// Text colors
$text-dark: #333;
$text-light: #777;
$text-error: red;
