doctype html
html(lang="en")
  head
    title Game Match - Home
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Welcome to Game Match!

    p Discover games based on your MBTI personality type.

    nav
      ul
        li: a(href="/signup") Sign Up
        li: a(href="/signin") Sign In
        li: a(href="/recommend") Game Recommendation
        li: a(href="/games") Game Catalog
        li: a(href="/contact") Contact Us

   footer
  p &copy; #{year} Game Match

