doctype html
html
  head
    title Game Match
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      .logo
        a(href="/")
          img(src="/images/logo.png", style="height: 80px;")

      nav
        ul
          li: a(href="/") Home
          li: a(href="/contact") Contact Us
          li: a(href="/games") Games List

          if user
            li: a(href="/profile") Profile
            li: a.signout-btn(href="/signout") Sign Out
          else
            li: a.signin-btn(href="/signin") Sign In


    main.container
      h1 Sign In to Your Account

      if message
        p.error-message #{message}

      form(action="/signin", method="POST", class="auth-form")
        label(for="email") Email:
        input(type="email", name="email", id="email", required)

        label(for="password") Password:
        input(type="password", name="password", id="password", required)

        button(type="submit") Sign In

      p Don’t have an account?
        a(href="/signup") Sign Up here.

    footer
      .footer-left
        img(src="/images/logo.png", style="height: 20px;")
        span © 2025 GameMatch. All rights reserved. Privacy Policy Terms of Service
      .social
        i.fa.fa-instagram
        i.fa.fa-facebook
        i.fa.fa-twitter
